$dark: #030712;
$white: #E2E8F0;
$slate: #94a3b8;
$bg-button: #64748B;
$color-button: #030712;
$bg-icon: #64748B;
$bg-grid: #1F2937; 


.slate{
    color: $slate;
}

.white{
    color: $white;
}

.dark{
    color: $dark;
}