%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
%flex-column-end {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.navbar {
  position: relative;
  @extend %flex-between;

  &__logo {
    img {
      width: 32px;
      height: 32px;
    }
  }

  &__menu {
    @include mobile {
      display: none;
    }
    @include mobile-large {
      display: none;
    }
  }

  &__menu > nav > ul {
    @extend %flex-evenly;
    li {
      font-size: $fs-md;
      font-weight: 600;
      list-style: none;
      margin-left: 24px;
    }
    a {
      text-decoration: none;
    }
  }

  &__misc {
    &--theme {
      width: 32px;
      height: 32px;
    }
    &--upload {
      width: 32px;
      height: 32px;
    }

    @include mobile {
      display: none;
    }
    @include mobile-large {
      display: none;
    }
  }

  &__hamburger {
    @include tablet {
      display: none;
    }
    @include small-screen {
      display: none;
    }
    @include large-screen {
      display: none;
    }
    @include extra-large-screen {
      display: none;
    }
    &--img {
      width: 32px;
      height: 32px;
    }
  }
}

.navbar__mobile {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 999;
  display: none;

  &--menu > nav > ul {
    @extend %flex-column-end;
    li {
      font-size: 64px;
      font-weight: 600;
      list-style: none;
      margin-top: 24px;
      margin-right: 24px;
    }
    a {
      text-decoration: none;
    }
  }

  &--misc {
    margin-top: 24px;
    margin-right: 24px;
    text-align: end;
  }
  &--theme {
    width: 64px;
    height: 64px;
  }
  &--upload {
    width: 64px;
    height: 64px;
  }
  @include tablet {
    display: none !important;
  }
  @include small-screen {
    display: none !important;
  }
  @include large-screen {
    display: none !important;
  }
  @include extra-large-screen {
    display: none !important;
  }
}
