%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
%flex-column {
  display: flex;
  flex-direction: column;
}
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  @extend %flex-between;
  padding: 0 20px;

  &__logo {
    img {
      width: 32px;
      height: 32px;
    }
  }

  &__menu {
    @include mobile {
      display: none;
    }
    @include mobile-large {
      display: none;
    }
  }

  &__menu > nav > ul {
    @extend %flex-evenly;
    li {
      font-size: $fs-md;
      font-weight: 600;
      list-style: none;
      margin-left: 24px;
    }
    a {
      text-decoration: none;
    }
  }

  &__misc {
    &--theme {
      width: 32px;
      height: 32px;
    }
    &--upload {
      width: 32px;
      height: 32px;
    }

    @include mobile {
      display: none;
    }
    @include mobile-large {
      display: none;
    }
  }

  &__hamburger {
    @include tablet {
      display: none;
    }

    &--img {
      width: 32px;
      height: 32px;
    }
  }
}

.navbar__mobile {
  float: right;
  min-height: 100vh;
  display: none;
  &--menu > nav > ul {
    @extend %flex-column;
    li {
      font-size: $fs-xl;
      font-weight: 600;
      list-style: none;
      margin-top: 24px;
      margin-right: 24px;
    }
    a {
      text-decoration: none;
    }
  }

  &--misc {
    margin-top: 24px;
  }
  &--theme {
    width: 64px;
    height: 64px;
  }
  &--upload {
    width: 64px;
    height: 64px;
  }

 @include tablet{
  display: none !important;
 }
}
