@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/**
  --fs-xl: 128px;
  --fs-lg: 64px;
  --fs-md: 32px;
  --fs-base: 16px;
  --fs-sm: 8px;
*/
:root {
  --fs-xl2: clamp(48px, 8vw, 192px);
  --fs-xl: 64px;
  --fs-lg: 32px;
  --fs-md: 24px;
  --fs-base: 16px;
  --fs-sm: 8px;
}

@media screen and (max-width: 456px) {
  :root {
    --fs-xl: 32px;
    --fs-lg: 24px ;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --fs-xl: 32px;
    --fs-lg: 24px ;
  }
}
.slate,
.github-dark,
.linkedin-dark,
.gmail-dark {
  color: #94a3b8;
}

.white {
  color: #e2e8f0;
}

.dark {
  color: #030712;
}

.github-light {
  color: #030712;
}

.linkedin-light {
  color: #0077b5;
}

.gmail-light {
  color: #ef4444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-base);
  width: 80%;
  min-height: 100vh;
  color: #94a3b8;
  background-color: #030712;
  padding: 8px 0;
  margin: 0 auto;
}
@media screen and (max-width: 456px) {
  body {
    width: 100%;
    padding: 8px;
  }
}
@media screen and (max-width: 767px) {
  body {
    width: 100%;
    padding: 8px;
  }
}

a {
  text-decoration: none;
}

.tooltip {
  position: relative;
}
.tooltip :after {
  display: none;
}
.tooltip[aria-label]:hover:after {
  content: attr(aria-label);
  position: absolute;
  display: block;
  top: 110%;
  left: -15px;
  font-weight: 500;
  color: #e2e8f0;
  background-color: #64748b;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  padding: 8px;
  border-radius: 5px;
}
@media screen and (max-width: 456px) {
  .tooltip[aria-label]:hover:after {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .tooltip[aria-label]:hover:after {
    left: 0;
  }
}

.profile__links, .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu > nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__mobile--menu > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.navbar {
  position: relative;
}
.navbar__logo img {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 456px) {
  .navbar__menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu > nav > ul li {
  font-size: var(--fs-md);
  font-weight: 600;
  list-style: none;
  margin-left: 24px;
}
.navbar__menu > nav > ul a {
  text-decoration: none;
}
.navbar__misc--theme {
  width: 32px;
  height: 32px;
}
.navbar__misc--upload {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 456px) {
  .navbar__misc {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar__misc {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .navbar__hamburger {
    display: none;
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .navbar__hamburger {
    display: none;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .navbar__hamburger {
    display: none;
  }
}
@media screen and (min-width: 1401px) {
  .navbar__hamburger {
    display: none;
  }
}
.navbar__hamburger--img {
  width: 32px;
  height: 32px;
}

.navbar__mobile {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  z-index: 999;
  display: none;
}
.navbar__mobile--menu > nav > ul li {
  font-size: 64px;
  font-weight: 600;
  list-style: none;
  margin-top: 24px;
  margin-right: 24px;
}
.navbar__mobile--menu > nav > ul a {
  text-decoration: none;
}
.navbar__mobile--misc {
  margin-top: 24px;
  margin-right: 24px;
  text-align: end;
}
.navbar__mobile--theme {
  width: 64px;
  height: 64px;
}
.navbar__mobile--upload {
  width: 64px;
  height: 64px;
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .navbar__mobile {
    display: none !important;
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .navbar__mobile {
    display: none !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .navbar__mobile {
    display: none !important;
  }
}
@media screen and (min-width: 1401px) {
  .navbar__mobile {
    display: none !important;
  }
}

.profile__links, .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu > nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project__category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__label--box {
  display: flex;
}

.main {
  font-weight: 600;
  min-height: 100vh;
  margin-top: 120px;
}
@media screen and (max-width: 456px) {
  .main {
    margin-top: 64px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .main {
    margin-top: 64px;
    text-align: center;
  }
}

.profile {
  font-size: var(--fs-lg);
}
.profile__name {
  font-size: var(--fs-xl2);
  font-weight: 900;
  margin-left: -8px;
}
.profile__links {
  margin-top: 128px;
}
@media screen and (max-width: 456px) {
  .profile__links {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .profile__links {
    display: block;
  }
}
.profile__button {
  font-size: var(--fs-lg);
  background-color: #94a3b8;
  padding: 12px;
  border-radius: 10px;
}
@media screen and (max-width: 456px) {
  .profile__button {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .profile__button {
    width: 80%;
    margin: 0 auto;
  }
}
.profile__icon {
  font-size: var(--fs-xl);
}
@media screen and (max-width: 456px) {
  .profile__icon {
    font-size: 128px;
    margin-top: 32px;
  }
}
@media screen and (max-width: 767px) {
  .profile__icon {
    font-size: 128px;
    margin-top: 32px;
  }
}

.project {
  margin-top: 120px;
}
.project__text {
  text-align: center;
}
.project__text--big {
  font-size: var(--fs-xl);
}
.project__text--md {
  font-size: var(--fs-md);
}
.project__category {
  width: 80%;
  margin: 0 auto;
  margin-top: 64px;
}
.project__category div {
  font-size: var(--fs-base);
  color: #030712;
  background-color: #94a3b8;
  padding: 8px;
  margin-left: 8px;
  border-radius: 4px;
}
.project__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
  margin-top: 12px;
}
@media screen and (max-width: 456px) {
  .project__list {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 767px) {
  .project__list {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .project__list {
    grid-template-columns: 1fr 1fr;
  }
}
.project__wrap {
  background-color: #1f2937;
  height: 320px;
  border-radius: 4px;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 456px) {
  .project__wrap {
    width: 90%;
    height: 250px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .project__wrap {
    width: 70%;
    height: 300px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .project__wrap {
    height: 300px;
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .project__wrap {
    height: 230px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .project__wrap {
    height: 280px;
  }
}
.project__wrap--img {
  width: 96%;
  height: 80%;
  margin: 0 auto;
}
.project__wrap--img img {
  width: 100%;
  height: 100%;
}
.project__label--big {
  font-size: var(--fs-md);
}
.project__label--box div {
  color: #030712;
  background-color: #94a3b8;
  padding: 4px;
  margin-right: 4px;
  border-radius: 4px;
}/*# sourceMappingURL=styles.css.map */