@import "typography";
@import "colors";
@import "media-query";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $slate;
}
// html {
//   scroll-behavior: smooth;
// }
body {
  font-family: "Roboto", sans-serif;
  font-size: $fs-base;
  width: 80%;
  min-height: 100vh;
  color: $slate;
  background-color: $dark;
  padding: 8px 0;
  margin: 0 auto;
  overflow-x: hidden;

  @include mobile {
    width: 100%;
    padding: 8px;
  }
  @include mobile-large {
    width: 100%;
    padding: 8px;
  }
}

a {
  text-decoration: none;
}

.tooltip {
  position: relative;
  :after {
    display: none;
  }
  &[aria-label]:hover:after {
    content: attr(aria-label);
    position: absolute;
    display: block;
    top: 110%;
    left: -15px;
    font-weight: 500;
    color: $white;
    background-color: $bg-button;
    white-space: nowrap;
    text-decoration: none;
    text-indent: 0;
    overflow: visible;
    padding: 8px;
    border-radius: 5px;

    @include mobile {
      left: 0;
    }
    @include mobile-large {
      left: 0;
    }
  }
}

@import "navbar";
@import "main";
