/**
  --fs-xl: 128px;
  --fs-lg: 64px;
  --fs-md: 32px;
  --fs-base: 16px;
  --fs-sm: 8px;
*/
:root {
  --fs-xl2: clamp(32px, 6vw, 124px);
  --fs-xl: 64px;
  --fs-lg: 32px;
  --fs-md: 24px;
  --fs-base: 16px;
  --fs-sm: 8px;
}

@media screen and (max-width: 767px) {
  :root {
    --fs-xl: 32px;
    --fs-lg: 24px
    --fs-md: 8px;
  }
}
@media screen and (max-width: 456px) {
  :root {
    --fs-xl: 32px;
    --fs-lg: 24px
    --fs-md: 8px;
  }
}
.slate,
.github-dark,
.linkedin-dark,
.gmail-dark {
  color: #94a3b8;
}

.white {
  color: #e2e8f0;
}

.dark {
  color: #030712;
}

.github-light {
  color: #030712;
}

.linkedin-light {
  color: #0077b5;
}

.gmail-light {
  color: #ef4444;
}

.selection {
  background-color: #94a3b8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: var(--fs-base);
  width: 80%;
  min-height: 100vh;
  color: #94a3b8;
  background-color: #030712;
  padding: 8px 0;
  margin: 0 auto;
  overflow-x: hidden;
}
@media screen and (max-width: 456px) {
  body {
    width: 100%;
    padding: 8px;
  }
}
@media screen and (max-width: 767px) {
  body {
    width: 100%;
    padding: 8px;
  }
}

a {
  text-decoration: none;
  color: #94a3b8;
}

.tooltip {
  position: relative;
}
.tooltip :after {
  display: none;
}
.tooltip[aria-label]:hover:after {
  content: attr(aria-label);
  position: absolute;
  display: block;
  top: 110%;
  left: -15px;
  font-weight: 500;
  color: #e2e8f0;
  background-color: #64748b;
  white-space: nowrap;
  text-decoration: none;
  text-indent: 0;
  overflow: visible;
  padding: 8px;
  border-radius: 5px;
}
@media screen and (max-width: 456px) {
  .tooltip[aria-label]:hover:after {
    left: 0;
  }
}
@media screen and (max-width: 767px) {
  .tooltip[aria-label]:hover:after {
    left: 0;
  }
}

.profile__links, .navbar__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu > .navbar__nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__mobile--menu > nav > ul {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.header {
  position: relative;
}

.blur {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 40px;
  background-color: #030712;
  z-index: -999;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 32px;
}
.navbar__center {
  width: 80%;
  margin: 0 auto;
}
@media screen and (max-width: 456px) {
  .navbar__center {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .navbar__center {
    width: 100%;
  }
}
.navbar__logo {
  margin-top: 4px;
}
.navbar__logo img {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 456px) {
  .navbar__menu {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu > .navbar__nav > ul li {
  font-size: var(--fs-md);
  font-weight: 600;
  list-style: none;
  margin-left: 24px;
}
.navbar__menu > .navbar__nav > ul a {
  text-decoration: none;
}
.navbar__misc {
  margin-top: 4px;
}
.navbar__misc--theme {
  width: 32px;
  height: 32px;
}
.navbar__misc--upload {
  width: 32px;
  height: 32px;
}
.navbar__misc--print {
  width: 32px;
  height: 32px;
}
@media screen and (max-width: 456px) {
  .navbar__misc {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .navbar__misc {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .navbar__hamburger--menu {
    display: none;
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .navbar__hamburger--menu {
    display: none;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .navbar__hamburger--menu {
    display: none;
  }
}
@media screen and (min-width: 1401px) {
  .navbar__hamburger--menu {
    display: none;
  }
}
.navbar__hamburger--menu img {
  width: 32px;
  height: 32px;
  z-index: 999;
}

.navbar__mobile {
  position: absolute;
  width: 100%;
  display: none;
}
.navbar__mobile--back {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 64px;
  font-weight: 600;
  margin-right: 12px;
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .navbar__mobile--back {
    display: none;
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .navbar__mobile--back {
    display: none;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .navbar__mobile--back {
    display: none;
  }
}
@media screen and (min-width: 1401px) {
  .navbar__mobile--back {
    display: none;
  }
}
.navbar__mobile--back img {
  width: 64px;
  height: 64px;
  z-index: 999;
}
.navbar__mobile--menu > nav > ul li {
  font-size: 64px;
  font-weight: 600;
  list-style: none;
  margin-top: 24px;
  margin-right: 12px;
}
.navbar__mobile--menu > nav > ul a {
  text-decoration: none;
}
.navbar__mobile--misc {
  margin-top: 24px;
  margin-right: 12px;
  text-align: end;
}
.navbar__mobile--theme {
  width: 64px;
  height: 64px;
}
.navbar__mobile--upload {
  width: 64px;
  height: 64px;
}
.navbar__mobile--print {
  width: 64px;
  height: 64px;
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .navbar__mobile {
    display: none !important;
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .navbar__mobile {
    display: none !important;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .navbar__mobile {
    display: none !important;
  }
}
@media screen and (min-width: 1401px) {
  .navbar__mobile {
    display: none !important;
  }
}

.profile__links, .navbar__center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__menu > .navbar__nav > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-links div, .about__tech--divs, .project__label--box div, .project__category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-links, .about__tech--list, .project__label--box {
  display: flex;
}

.main {
  font-weight: 600;
  min-height: 100vh;
  margin-top: 120px;
}
@media screen and (max-width: 456px) {
  .main {
    margin-top: 64px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .main {
    margin-top: 64px;
    text-align: center;
  }
}

.profile {
  height: 100vh;
  font-size: var(--fs-lg);
}
.profile__name {
  font-size: var(--fs-xl2);
  font-weight: 900;
  margin-left: -8px;
}
.profile__links {
  margin-top: 128px;
}
@media screen and (max-width: 456px) {
  .profile__links {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .profile__links {
    display: block;
  }
}
.profile__button {
  font-size: var(--fs-md);
  background-color: #94a3b8;
  padding: 12px;
  border-radius: 10px;
}
@media screen and (max-width: 456px) {
  .profile__button {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  .profile__button {
    width: 80%;
    margin: 0 auto;
  }
}
.profile__icon {
  font-size: var(--fs-xl);
}
@media screen and (max-width: 767px) {
  .profile__icon {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 48px;
    width: 100%;
    height: 48px;
    z-index: 999;
  }
}
@media screen and (max-width: 456px) {
  .profile__icon {
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 48px;
    width: 100%;
    height: 48px;
    z-index: 999;
  }
}
.profile__blur {
  display: none;
}
@media screen and (max-width: 767px) {
  .profile__blur {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    filter: blur(1px);
    background-color: rgba(18, 36, 61, 0.5490196078);
  }
}
@media screen and (max-width: 456px) {
  .profile__blur {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    filter: blur(1px);
    background-color: rgba(18, 36, 61, 0.5490196078);
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .project {
    font-size: var(--fs-md);
  }
}
@media screen and (min-width: 1401px) {
  .project {
    font-size: var(--fs-md);
  }
}
.project__text {
  text-align: center;
}
.project__text--big {
  font-size: var(--fs-xl);
}
.project__category {
  flex-wrap: wrap;
  margin-top: 64px;
}
@media screen and (max-width: 767px) {
  .project__category {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 456px) {
  .project__category {
    width: 80%;
    margin: 0 auto;
  }
}
.project__category--btn {
  font-size: var(--fs-base);
  border-radius: 8px;
  border: 1.5px solid rgba(131, 131, 131, 0.4941176471);
  padding: 8px;
  margin: 8px 8px 0 0;
}
@media screen and (max-width: 767px) {
  .project__category--btn {
    padding: 4px;
  }
}
@media screen and (max-width: 456px) {
  .project__category--btn {
    padding: 4px;
  }
}
.project__list {
  display: grid;
  height: 70vh;
  grid-template-columns: repeat(auto-fit, minmax(0, 450px));
  gap: 24px;
  margin-top: 12px;
  overflow-y: scroll;
}
@media screen and (max-width: 767px) {
  .project__list {
    grid-template-columns: 1fr;
    height: 80vh;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 456px) {
  .project__list {
    grid-template-columns: 1fr;
    height: 80vh;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .project__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .project__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.project__wrap {
  background-color: #1f2937;
  height: 320px;
  border-radius: 4px;
  display: flex;
  align-items: end;
}
@media screen and (max-width: 767px) {
  .project__wrap {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 456px) {
  .project__wrap {
    width: 80%;
    height: 250px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 919px) {
  .project__wrap {
    height: 300px;
  }
}
@media screen and (min-width: 920px) and (max-width: 1200px) {
  .project__wrap {
    height: 230px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .project__wrap {
    height: 280px;
  }
}
.project__wrap--img {
  width: 96%;
  height: 80%;
  margin: 0 auto;
}
.project__wrap--img img {
  width: 100%;
  height: 100%;
}
.project__label--box {
  flex-wrap: wrap;
  gap: 4px;
}
@media screen and (max-width: 456px) {
  .project__label--box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  .project__label--box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.project__label--box div {
  font-size: var(--fs-base);
  color: #030712;
  padding: 2px;
  border-radius: 2px;
}

.about {
  height: 100vh;
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .about {
    font-size: var(--fs-md);
  }
}
@media screen and (min-width: 1401px) {
  .about {
    font-size: var(--fs-md);
  }
}
.about__text--big {
  text-align: center;
  font-size: var(--fs-xl);
}
.about__text--name {
  font-size: var(--fs-xl2);
  margin-top: 32px;
}
.about__text--md {
  width: 70%;
  font-size: var(--fs-md);
}
@media screen and (max-width: 767px) {
  .about__text--md {
    width: inherit;
    font-size: var(--fs-base);
  }
}
@media screen and (max-width: 456px) {
  .about__text--md {
    width: inherit;
    font-size: var(--fs-base);
  }
}
.about__tech {
  margin-top: 32px;
}
.about__tech--text {
  font-size: var(--fs-lg);
}
.about__tech--list {
  flex-wrap: wrap;
  gap: 6px;
  margin-top: 24px;
}
@media screen and (max-width: 767px) {
  .about__tech--list {
    width: 90%;
    margin: 24px auto;
  }
}
@media screen and (max-width: 456px) {
  .about__tech--list {
    width: 90%;
    margin: 24px auto;
  }
}
.about__tech--divs {
  padding: 2px;
  background-color: rgba(88, 88, 88, 0.3843137255);
  border-radius: 8px;
  border: 1.5px solid rgba(131, 131, 131, 0.4941176471);
}
.about__tech--divs iconify-icon {
  margin-right: 4px;
}

.project-links {
  gap: 4px;
}
.project-links div {
  font-size: var(--fs-base);
  padding: 4px;
  border: 1.5px solid rgba(131, 131, 131, 0.4941176471);
  border-radius: 8px;
}
.project-links div:hover {
  background-color: #4ade80;
  color: #030712;
}
@media screen and (max-width: 767px) {
  .project-links {
    display: block;
    width: 90%;
    margin: 24px auto;
  }
}
@media screen and (max-width: 456px) {
  .project-links {
    display: block;
    width: 90%;
    margin: 24px auto;
  }
}

.footer {
  text-align: center;
}
.footer__copy {
  font-size: var(--fs-md);
}
@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 64px;
  }
}
@media screen and (max-width: 456px) {
  .footer {
    margin-bottom: 64px;
  }
}/*# sourceMappingURL=styles.css.map */